# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output directories
dist/
build/
tmp/

# Compiled TypeScript
*.tsbuildinfo

# Angular specific
.angular/
.angular/cache/

# Misc
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac specific
*.DS_Store
